<form class="brawlbar-configuration">
    {{> "modules/barbrawl/templates/bar-config-minimal.hbs" this.object displayModes=this.options.displayModes
    barAttributes=this.options.barAttributes}}

    {{#with this.object}}
    <div class="form-group">
        <label>{{localize "barbrawl.config.indent"}}:</label>
        <div class="form-fields">
            <label>
                <input type="number" class="indent-input" name="flags.barbrawl.resourceBars.{{this.id}}.indentLeft"
                    min="-100" max="100" value="{{this.indentLeft}}" />
                <span>% {{localize "barbrawl.config.indentLeft"}}</span>
            </label>
            <span class="sep" style="margin: 0;">-</span>
            <label>
                <input type="number" class="indent-input" name="flags.barbrawl.resourceBars.{{this.id}}.indentRight"
                    min="-100" max="100" value="{{this.indentRight}}" />
                <span>% {{localize "barbrawl.config.indentRight"}}</span>
            </label>
        </div>
        <p class="notes">{{localize "barbrawl.config.indentHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "barbrawl.config.style"}}:</label>
        <div class="form-fields">
            <select name="flags.barbrawl.resourceBars.{{this.id}}.style">
                {{#select this.style}}
                <option value="user">{{localize "barbrawl.textStyle.user"}}</option>
                <option value="none">{{localize "barbrawl.textStyle.none"}}</option>
                <option value="fraction">{{localize "barbrawl.textStyle.fraction"}}</option>
                <option value="percent">{{localize "barbrawl.textStyle.percent"}}</option>
                {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "barbrawl.config.label"}}:</label>
        <div class="form-fields">
            <input type="text" name="flags.barbrawl.resourceBars.{{this.id}}.label" value="{{this.label}}" />
        </div>
        <p class="notes">{{localize "barbrawl.config.labelHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "barbrawl.config.ignoreLimits"}}:</label>
        <div class="form-fields">
            <label>
                <input class="ignore-limit" type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.ignoreMin"
                    {{#if this.ignoreMin}}checked{{/if}} {{#if (ne this.attribute "custom" )}}disabled{{/if}} />
                <span>{{localize "barbrawl.config.ignoreMin"}}</span>
            </label>
            <span class="sep" style="margin: 0;">-</span>
            <label>
                <input class="ignore-limit" type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.ignoreMax"
                    {{#if this.ignoreMax}}checked{{/if}} {{#if (ne this.attribute "custom" )}}disabled{{/if}} />
                <span>{{localize "barbrawl.config.ignoreMax"}}</span>
            </label>
        </div>
        <p class="notes">{{localize "barbrawl.config.ignoreLimitsHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "barbrawl.config.invert"}}:</label>
        <div class="form-fields">
            <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.invert" {{#if
                this.invert}}checked{{/if}} />
        </div>
        <p class="notes">{{localize "barbrawl.config.invertHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "barbrawl.config.approximate"}}:</label>
        <div class="form-fields">
            <input type="number" name="flags.barbrawl.resourceBars.{{this.id}}.subdivisions" min="0" max="20"
                value="{{this.subdivisions}}" />
        </div>
        <p class="notes">{{localize "barbrawl.config.approximateHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "barbrawl.config.approximateOwner"}}:</label>
        <div class="form-fields">
            <input type="checkbox" name="flags.barbrawl.resourceBars.{{this.id}}.subdivisionsOwner" {{#if
                this.subdivisionsOwner}}checked{{/if}} />
        </div>
        <p class="notes">{{localize "barbrawl.config.approximateOwnerHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "barbrawl.config.fgImage"}}:</label>
        <div class="form-fields">
            {{filePicker target=(barbrawl-concat "flags.barbrawl.resourceBars." this.id ".fgImage") type="imagevideo"}}
            <input type="text" class="image" name="flags.barbrawl.resourceBars.{{this.id}}.fgImage"
                value="{{this.fgImage}}" />
        </div>
        <p class="notes">{{localize "barbrawl.config.fgImageHint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "barbrawl.config.bgImage"}}:</label>
        <div class="form-fields">
            {{filePicker target=(barbrawl-concat "flags.barbrawl.resourceBars." this.id ".bgImage") type="imagevideo"}}
            <input type="text" class="image" name="flags.barbrawl.resourceBars.{{this.id}}.bgImage"
                value="{{this.bgImage}}" />
        </div>
        <p class="notes">{{localize "barbrawl.config.bgImageHint"}}</p>
    </div>
    {{/with}}

    <footer class="sheet-footer">
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize
            "barbrawl.config.save"}}</button>
    </footer>
</form>